a {
    
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }





#Login {  
  padding-right: 25px;
  margin-left: 1050px;
  margin-top: -10px;
}